/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none; /* Hide sections by default */
}

section h2 {
    font-size: 24px;
    color: #007BFF;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}
