* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
    width: 80%;
    max-width: 800px;
  }
  
  header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
  }
  
  header p {
    font-size: 1.2em;
    margin-bottom: 30px;
    animation: fadeIn 2s ease-in-out 1s;
  }
  
  .buttons {
    margin-top: 30px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .section {
    display: none; /* Initially hidden */
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  section h3 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  section ul {
    list-style-type: none;
    padding: 0;
  }
  
  section ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  